@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,300&display=swap');

html, body {
	font-family: 'Nunito';
	font-size: 1rem;
	margin: 0;
	padding: 10px;
	height: 100%;
	width: 100%;
	color: #393A5A;
}

.table-page {
    width: 100%;
}
.table-menu-main {
    border-spacing: 0;
}
.table-paginator {
    border-spacing: 0;
}

div {

}
a, a:link {
  color: #393A5A;
}

a:visited {
  color: #393A5A;
}

a:hover {
  color: #706F8E;
}

a:active {
  color: #393A5A;
}

/* Компонент menumain */
.div-menu-main-item {
    color: #393A5A;
    padding: 20px 30px 20px 30px;
    background-color: #E9E9E9;
}
.div-menu-main-item:hover {
    color: #393A5A;
    padding: 20px 30px 20px 30px;
    background-color: #ADA9BA;
}
.div-menu-main-item-selected {
    color: #393A5A;
    padding: 20px 30px 20px 30px;
    background-color: #ADA9BA;
}
.div-menu-main-item-blank {
    color: #393A5A;
    padding: 20px 30px 20px 30px;
    background-color: #E9E9E9;
}
.div-menu-main-item a {
    color: #393A5A;
}
.div-menu-main-item a:hover {
    color: #393A5A;
}

/* Компонент paginator */
.div-paginator-item {
    color: #393A5A;
    padding: 10px 20px 10px 20px;
    background-color: #E9E9E9;
}
.div-paginator-item:hover {
    color: #393A5A;
    padding: 10px 20px 10px 20px;
    background-color: #ADA9BA;
}
.div-paginator-item-selected {
    color: #393A5A;
    padding: 10px 20px 10px 20px;
    background-color: #ADA9BA;
}
.div-paginator-item-blocked {
    color: #393A5A;
    padding: 10px 20px 10px 20px;
    background-color: #E9E9E9;
}
.div-paginator-item a {
    color: #393A5A;
}
.div-paginator-item a:hover {
    color: #393A5A;
}

.event {

}

.event:hover {

}

/* Форма */
.form-input-text {
    border: 1px solid #393A5A;
    border-radius: 3px;
}
.form-input-password {
    border: 1px solid #393A5A;
    border-radius: 3px;
}
.form-input-textarea {
    border: 1px solid #393A5A;
    border-radius: 3px;
}
.form-select {
    border: 1px solid #393A5A;
    border-radius: 3px;
}
.form-button-submit {
    border: 1px solid #393A5A;
    border-radius: 3px;
}

.header {

}