{% load static %}
{% load event_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'event/css/reset.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'event/css/styles.css' %}" rel="stylesheet">
</head>
<body>
<table class="table-page">
    <tr>
        <td valign=center>
            {% block menumain %}
            <table>
                <tr>
                    {% for menu_main_item in menu_main %}
                        {% if not forloop.last %}
                            <td style="white-space: nowrap">
                            {% if menu_main_item.title == title %}
                                <div class="div-menu-main-item-selected">
                                    {{menu_main_item.title}}
                                </div>
                            {% else %}
                                <div class="div-menu-main-item" onclick="location.href='{% url menu_main_item.urlname %}'" style="cursor: pointer">
                                    {{menu_main_item.title}}
                                </div>
                            {% endif %}
                            </td>
                        {% else %}
                            <td width="99%">
                            <div class="div-menu-main-item-blank">
                                &nbsp;
                            </div>
                            </td>
                            <td style="white-space: nowrap">
                            {% if menu_main_item.title == title %}
                                <div class="div-menu-main-item-selected">
                                    {{menu_main_item.title}}
                                </div>
                            {% else %}
                                <div class="div-menu-main-item" onclick="location.href='{% url menu_main_item.urlname %}'" style="cursor: pointer">
                                    {{menu_main_item.title}}
                                </div>
                            {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
            <!--
            <div class="header">
                <ul class="menu-main">
                    {% for menu_main_item in menu_main %}
                        {% if menu_main_item.title == title %}
                            <li class="selected">{{menu_main_item.title}}</li>
                        {% else %}
                            <li><a href="{% url menu_main_item.urlname %}">{{menu_main_item.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            -->
            {% endblock menumain %}
        </td>
    </tr>
    <tr>
        <td valign=center>
            <table>
                <tr>
                    <td>
                        {% block content %}
                        {% endblock content%}
                        {% if page_obj.has_other_pages %}
                        <table>
                            <tr>
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <td>
                                            <div class="div-paginator-item-selected">
                                                {{ page }}
                                            </div>
                                        </td>
                                    {% else %}
                                        <td>
                                            <div class="div-paginator-item" onclick="location.href='?page={{ page }}'" style="cursor: pointer">
                                                {{ page }}
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>