{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<!--    <link type="text/css" href="{% static 'event/css/styles.css' %}" rel="stylesheet"> -->
</head>
<body>
{% block menumaintop %}
{% for menu_main_top_item in menu_main_top %}
<li><a href="{% url menu_main_top_item.urlname %}">{{menu_main_top_item.title}}</a></li>
{% endfor %}
{% endblock menumaintop%}
{% block content %}
{% endblock content%}
{% block menumainbottom %}
{% for menu_main_bottom_item in menu_main_bottom %}
<li><a href="{% url menu_main_bottom_item.urlname %}">{{menu_main_bottom_item.title}}</a></li>
{% endfor %}
{% endblock menumainbottom%}
</body>
</html>