{% extends 'event/base.html' %}

{% block content %}
</p>Event Add</p>
<form action="{% url 'event_add' %}" method="post">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    <p><label for="{{ form.title.id_for_label }}">{{form.title.label}}</label></p>
    <p>{{ form.title }}</p>
    <div>{{ form.title.errors }}</div>
    <p><label for="{{ form.description.id_for_label }}">{{form.description.label}}</label></p>
    <p>{{ form.description }}</p>
    <div>{{ form.description.errors }}</div>
    <p><label for="{{ form.scope.id_for_label }}">{{form.scope.label}}</label></p>
    <p>{{ form.scope }}</p>
    <div>{{ form.scope.errors }}</div>
    <button type="submit" class="form-button-submit">Add</button>
</form>
{% endblock content %}